<!doctype html>
<html lang="en" ng-app="LunchCheck">
<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>

  <style>
      .disclaimer {
          opacity: .5;
          font-size: 80%;
          font-style: italic;
      }

      .container {
          margin: 2em auto;
      }
  </style>
</head>
<body>
<div class="container" ng-controller="LunchCheckController">
  <a href="."><h1>Lunch Checker</h1></a>

  <form>
    <div class="form-group">
      <input id="lunch-menu" type="text" ng-model="lunchMenu"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control border border-{{ colorClass }}" (keydown)="onKeyDown($event)">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="checkIfTooMuch()">Check If Too Much*</button>
    </div>

  </form>

  <p class="disclaimer">*Empty strings do <strong>not</strong> count toward total item count</p>
  <p class="text-{{ colorClass }}">{{ message }}</p>

</div>

</body>
</html>
